input:focus-visible {
  outline: none;
}

.search-prompt {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;

  &__container-input {
    width: 327px;
    height: 48px;
    position: relative;

    &__input {
      width: 327px;
      height: 48px;
      background: #f4f4f4;
      border-radius: 16px;
      padding-left: 24px;
      border-color: transparent;

      &--red {
        border-color: red !important;
      }

      &--error {
        width: 244px;
        height: 24px;
        color: red;
        display: flex;
        flex-direction: row;
        padding-left: 5px;
      }
      &::placeholder {
        font-family: "Open Sans";
        font-style: normal;

        font-size: 16px;
        line-height: 20px;
        /* 2D2D2D */
        color: #2d2d2d;
      }

      &--dark {
        border-color: #a445ed;
        background: #1f1f1f;
        color: white;
        font-family: "Open Sans";
        font-style: normal;

        font-size: 16px;
        line-height: 20px;
        &::placeholder {
          color: white;
        }
      }
    }
  }
  &__container-img {
    width: 15px;
    height: 15px;

    &__img {
      position: relative;
      left: 286px;
      bottom: 31px;
    }
  }
}
@media (max-width: 768px) {
  .search-prompt {
    width: 689px;
    height: 64px;
    margin-top: 25px;

    &__container-input {
      width: 689px;
      height: 64px;

      &__input {
        width: 689px;
        height: 64px;
      }
    }

    &__container-img {
      width: 15px;
      height: 15px;

      &__img {
        position: relative;
        left: 646px;
        bottom: 39px;
      }
    }
  }
}
