input:focus-visible {
  outline: none;
}

.search-prompt {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;

  &__container-input {
    width: 327px;
    height: 48px;
    position: relative;

    &__input {
      width: 327px;
      height: 48px;
      background: #f4f4f4;
      border-radius: 16px;
      padding-left: 24px;
      border-color: transparent;
      &--red {
        border-color: red !important;
      }

      &--error {
        width: 244px;
        height: 24px;
        color: red;
        display: flex;
        flex-direction: row;
        padding-left: 5px;
      }
      &::placeholder {
        font-family: "Open Sans";
        font-style: normal;

        font-size: 16px;
        line-height: 20px;
        /* 2D2D2D */
        color: #2d2d2d;
      }

      &--dark {
        border-color: #a445ed;
        background: #1f1f1f;
        color: white;
        font-family: "Open Sans";
        font-style: normal;

        font-size: 16px;
        line-height: 20px;
        &::placeholder {
          color: white;
        }
      }
    }
  }
  &__container-img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 289px;
    bottom: 32px;
  }
}
@media (min-width: 768px) {
  .search-prompt {
    width: 689px;
    height: 64px;
    margin-top: 25px;

    &__container-input {
      width: 689px;
      height: 64px;
      position: relative;

      &__input {
        width: 689px;
        height: 64px;

        &::placeholder {
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: #2d2d2d;
          opacity: 0.25;
        }
      }
    }

    &__container-img__img {
      width: 15px;
      height: 15px;
      position: relative;
      left: 356px;
      bottom: 8px;
    }
  }
}

@media (min-width: 1440px) {
  .search-prompt {
    width: 736px;
    height: 64px;
    margin-top: 25px;


    &__container-input {
      width: 736px;
      height: 64px;
      position: relative;

      &__input {
        width: 736px;
        height: 64px;
      }
    }

    &__container-img__img {
      width: 15px;
      height: 15px;
      position: relative;
      left: 402px;
    bottom: 5px;
    }
  }
}
