.title {
  width: 150px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &__container {
    /* Utiliza un espacio aquí en lugar de "__" */
    width: 147px;
    height: 39px;

    h1 {
      font-size: 32px;
      font-family: Inconsolata;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      /* identical to box height */
      /* 2D2D2D */
    }
  }
  &__idioma {
    width: auto;
    height: 24px;
    margin-left: 10px;

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */

      /* A445ED */

      color: #a445ed;
    }
  }
}

@media (min-width: 768px) {
  .title {
    width: 256px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__container {
      h1 {
        font-size: 64px;
        font-family: Inconsolata;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        /* identical to box height */
        /* 2D2D2D */
      }
    }
    &__idioma {
      width: 98px;
      height: 29px;

      p {
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #a445ed;
        text-align: start;
      }
    }
  }
}
@media (min-width: 1440px) {
  .title {
    width: 293px;
    height: 107px;
    &__container {
      h1 {
        font-size: 64px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &__idioma {
      width: auto;
      height: 24px;

      p {
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: start;
      }
    }
  }
}
