.titleMeaning{
    width: 65px;
    height: 20px;
    display: flex;
    flex-direction: columns;
    margin-bottom: 16px;
    p{
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        
        /* 757575 */
        
        color: #757575;  
    }
}