.containMode{
width: 327px;
height: 32px;

margin: 24px 24px 16px 24px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: relative;

.containMode-line {
    width: 1px;
    height: 32px;
    position: relative;
    right: 98px;
    background: #E9E9E9;

}

.IconBook{
    width: 24px;
    height: 32px;
    margin-right: 96px;
img{
    width: 24px;
    height: 32px;
    color: #757575;
}
    

}
}