.main-descriptionMeaning {
  width: 327px;
  height: auto;

  ul {
    padding: 10px;
    text-align: left; /* Alinear el texto a la izquierda */
    list-style: none;
  }
  li {
    margin-bottom: 13px;
    position: relative;
    padding-left: 15px;
    list-style-type: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
  li:before {
    content: "•"; /* agregar el punto personalizado */
    color: var(--seven-color); /* darle color rojo al punto */
    content: "\2022"; /* Utiliza el punto como el contenido antes de cada ítem de la lista */
    position: absolute;
    left: 2px;
  }
  p {
    font-size: 18px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: var(--757575, #757575);
  }
}
@media (max-width: 768px) {
  .main-descriptionMeaning {
    width: 688px;
    height: auto;

    li {
      font-size: 18px;
      font-family: Inconsolata;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
