.titleMeaning  {
    width: 65px;
    height: 20px;
    display: flex;
    flex-direction: columns;


  &__p{
    font-size: 20px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        color:#757575;  
    }
}
