.ContainTitleButton {
  width: 327px;
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .ContainTitleButton {
    width: 689px;
    height: 107px;
   
  }
}
@media (min-width: 1440px){
  .ContainTitleButton {
    width: 737px;
height: 114px;
background: skyblue;


  }
}