.contItemFonts {
  width: 98px;
  height: 92px;
  z-index: 99999999;
  position: absolute;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
background: white ;
cursor: pointer;


  &__container-listFont {
    width: 98px;
    height: 24px;
    display: flex;
    flex-direction: column;
    padding: 2px;

    &__p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      padding: 3px;

    }
  
  }
  &--dark{

      background: #1F1F1F;
      box-shadow: 0px 5px 30px #A445ED;
      border-radius: 16px;
   

  
  }
}
