.main-source{
    width: 298px;
    height: 43px;
    margin:24px 53px 84px 24px;
    &__source{
        width: 46px;
        height: 18px;
        margin-bottom: 7px;
        P{
            font-family: 'Lora';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */
            
            text-decoration-line: underline;
            
            /* 757575 */
            
            color: #757575;
               
        }
    }
    &__link{
        width: 271px;
        height: 18px;
        P{
            font-family: 'Lora';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */
            
            text-decoration-line: underline;
            
            /* 2D2D2D */
            
            color: #2D2D2D;
               
        }
    }
}