.containKeyboard {
  width: 370px;
  height: 910px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background: var(--six-color);
  overflow-x: hidden;
  .containKeyboard-img {
    width: 327px;
    height: 1px;

     &__image--mobile {
      display: block;
    }
    &__image--tablet {
       display: none;
    }
    &__image--desktop {
       display: none;
    }
  }

  &--light {
    background: var(--six-color);
  }

  &--dark {
    background: var(--primary-color);
    color: white;
  }
}
@media (min-width: 768px) {
  .containKeyboard {
    width: 768px;
    height: 1197px;
    overflow-x: hidden;

    .containKeyboard-img {
      width: 608px;
      height: 1px;

     
    &__image--mobile {
      display: none;
      }
      &__image--tablet {
       display: block;
       }
       &__image--desktop {
        display: none;
      }
    }
  }
}
@media (min-width: 1440px) {
  .containKeyboard {
    width: 1440px;
    height: 1205;
    overflow-x: hidden;
    .containKeyboard-img {
      width: 736px;
      height: 1px;

      &__image--mobile {
        display: none;
      }
      &__image--tablet {
        display: none;
      }
      &__image--desktop {
        display: block;
      }
    }
  }
}
