.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
  
    &--light{
        background: var(--six-color);
    }

    &--dark{
        background: var(--primary-color);
    }
}