.main-containMeaning {
  width: 327px;
  height: auto;
  font-family: "Serif";
  margin-bottom: 24px 
}
@media (max-width: 768px){
  .main-containMeaning { 
  width: 688px;
  height: auto;
}
}
@media (max-width: 1440px){
  .main-containMeaning { 
    width: 740px;
    height: auto;
  }
}
