.main-containMeaning {
  width: 100%;
  height: auto;

 
}
@media (min-width: 768px){
  .main-containMeaning { 
  width: 688px;
  height: auto;
}
}
@media (min-width: 1440px){
  .main-containMeaning { 
    width: 740px;
    height: auto;
  }
}
