.main-section {
  width: 327px;
  height: 23px;
margin-bottom: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

 .container {
    width: 42px;
    height: 23px;
    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      /* identical to box height */
      /* 2D2D2D */

    }
    
  }
}
