.main-synonyms{
    width: 327px;
height: 20px;
display:flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 31px;

&__title p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    /* 757575 */
    
    color: #757575; 
}
&__description {
   width: 152px; 
   height: 20px;
   margin-right: 90px;
   p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
/* A445ED */

color: #A445ED;

   }
}
}