.main-source {
  width: 315px;
  height: 43px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start !important;
  margin: 24px 53px 84px 24px;


  &__source {
    width: 46px;
    height: 18px;
 
    P {
      font-size: 14px;
      font-family: Inconsolata;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      color: #757575;
    }
  }
  &__link {
    width: 273px;
    height: 18px;
    P {
      font-size: 14px;
      font-family: Inconsolata;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;

      /* 2D2D2D */

      color: #2d2d2d;
    }
  }
}
@media (min-width: 768px) {
  .main-source {
    width: 700px;
    height: 43px;
    display: flex;
    flex-direction: row;
  
    &__source {
    margin-left: 25px;
      P {
        font-size: 14px;
        font-family: Inconsolata;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        color: #757575;
        
      }
    }
   
    }
  }

