@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Serif&family=Roboto+Mono:wght@100&display=swap');
#root {

	margin: 0 auto;
	text-align: center;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
  /* VARIABLES */
  * {
	/* LIGHT MODE COLORS*/
--primary-color: #050505;
--secundary-color: #1F1F1F;
--tertiary-color:#2D2D2D;
--four-color: #3A3A3A;
--five-color: #757575;
--five-color:#F4F4F4;
--six-color:#FFFFFF;
--seven-color:#A445ED;
--eight--color:#FF5252;

}



